*{
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E5E5E5;
}
#bt1{
    background-color: #7A7A7A;
    color: white
}

#con{
    background-color: #E5E5E5;

}

#global {
	height: 400px;
	width: 400px;
	
	background: white;
    background-color: #E5E5E5;
	overflow-y: scroll;
    display: flex;
    justify-content: center;
}
#listasks{
	height: auto;
    flex-direction: column;
    gap: 30px;
}

.task{
    background-color: rgb(71, 71, 214);
    width: 300px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    border-radius: 10px;
    margin-top: 10px;
    text-align: left;
    padding-left: 4px;

}

#t1{

    text-align: center;

}
.task:hover .material-icons{
    display: inline-block !important;
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;

    font-weight: 400;
    src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
    src: local('Material Icons'),
      local('MaterialIcons-Regular'),
      url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
      url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
      url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
}
.material-icons {
    font-family: 'Material Icons';
    display: none !important;
    font-weight: normal;
    font-style: normal;
    font-size: 20px;  /* Preferred icon size */
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    color: white;
    cursor: pointer;

  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
}

.material-icons.md-48 { font-size: 20px; }

